@import 'bgg-components';
@import 'bgg-properties';

$pageWidth: 980px;

.root-container {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.7);
}

.clearfix {
    display: inline-block;
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

.page-container {
    max-width: $pageWidth;
    margin: 0 auto;
}

header {
    $header-color: #CCC;
    .top-nav {
        background-color: $header-color;
        .clear-login {
            @extend .clearfix;
            width: 100%;
        }
    }
    .brand {
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        padding: 40px 0;
        margin-right: 30px;
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 1px;
        
        .geek {
            background-color: $geek-orange;
            color: white;
            padding: 3px;
        }
    }
    .search-form {
        display: inline-block;
        margin-left: 15%;
    }
    .login-form {
        display: inline-block;
        float: right;
        input {
            font-size: 12px;
        }
        button {
            min-width: 60px;
        }
        .top-anchor {
            background-color: #6E6E70;
            padding: 16px 10px 12px;
            border-bottom-right-radius: 18px;
            border-bottom-left-radius: 18px;
            box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.6);
        }
    }
    nav {
        background-color: white;
        padding-bottom: 20px;
        
        ul {
            margin: 0;
            padding: 0;
            width: 80%;
            margin: 0 auto;
        }
        li {
            display: inline-block;
            width: percentage(1/7);
        }
        .highlight {
            display: block;
            height: 8px;
            margin-top: -8px;
            background-color:#CCC;
        }
        .label {
            display: block;
            padding: 8px;
            text-align: center;
        }
        a, a:visited, a:link, a:hover {
            text-decoration: none;
            color: black;
        }
        a:hover {
            color: $geek-orange;
            .highlight {
                background-color: $geek-orange;
            }
        }
    }
}

.hero-container {
    .carousel {
        background: radial-gradient(farthest-corner at 20% 40%, lighten($geek-orange, 15%), $geek-darkorange);
        height: 400px;
        
        .controls {
            margin: 0 auto;
            padding-top: 12px;
            width: 100px;
            text-align: center;
            
            .item {
                display: inline-block;
                margin: 0 5px;
                height: 12px;
                width: 12px;
                cursor: pointer;
                content: " ";
                
                .control {
                    background-color: lighten($geek-orange, 30%);
                    border-radius: 5px;
                    height: 10px;
                    width: 10px;
                    content: " ";
                }
                
                &:hover .control {
                    background-color: lighten($geek-orange, 45%);
                }
            }
        }
        .left-arrow {
            width: 10%;
        }
        .right-arrow {
            width: 10%;
        }
        .content {
            width: 80%;
        }
    }
}