doctype html
html(lang="en")
    head
        title BGG - Home
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
        link(rel="stylesheet", href="bgg-home.css")
    body
        .root-container
            header
                .top-nav
                    .page-container
                        .clear-login
                            .brand
                                span Board
                                span Game
                                span.geek Geek
                            .search-form
                                input.form-control(placeholder="search")
                                button.btn.btn-primary.btn-small go
                            .login-form
                                .top-anchor
                                    .row
                                        input.form-control.username(placeholder="username")
                                        button.btn.btn-primary.btn-small sign in
                                    .row
                                        input.form-control.password(type="password", placeholder="password")
                                        button.btn.btn-default.btn-small register
                nav
                    .page-container
                        ul
                            each label in ['Home', 'Browse', 'Forums', 'GeekList', 'Bazaar', 'Misc', 'Help']
                                li
                                    a(href='#')
                                        span.highlight &nbsp;
                                        span.label= label
            main
                .hero-container
                    .page-container
                        .carousel
                            .controls
                                .item
                                    .control
                                .item
                                    .control
                                .item
                                    .control
                            .left-arrow
                            .content
                            .right-arrow
                section.list-container
                section.hotness-container