@import 'reset';
@import 'bgg-components';
@import 'bgg-properties';

$pageWidth: 980px;

body {
    padding-bottom: 8px;
}

.root-container {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.7);
    font-size: 14px;
}

.clearfix {
    display: inline-block;
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

.page-container {
    max-width: $pageWidth;
    padding: 0 20px;
    margin: 0 auto;
}

header {
    $header-color: #CCC;
    .top-nav {
        background-color: $header-color;
        .clear-login {
            @extend .clearfix;
            width: 100%;
        }
    }
    .brand {
        display: inline-block;
        font-family: sans-serif;
        padding: 40px 0;
        margin-right: 30px;
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 1px;
        
        .geek {
            color: white;
            padding: 3px;
            background-color: $geek-primary;
        }
    }
    .search-form {
        display: inline-block;
        margin-left: 15%;
    }
    .login-form {
        display: inline-block;
        float: right;
        input {
            font-size: 12px;
        }
        button {
            min-width: 60px;
        }
        .top-anchor {
            background-color: #6E6E70;
            padding: 16px 10px 12px;
            border-bottom-right-radius: 18px;
            border-bottom-left-radius: 18px;
            box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.6);
        }
    }
    nav {
        background-color: white;
        padding-bottom: 20px;
        
        ul {
            margin: 0;
            padding: 0;
            width: 80%;
            margin: 0 auto;
        }
        li {
            display: inline-block;
            width: percentage(1/7);
        }
        .highlight {
            display: block;
            height: 8px;
            margin-top: -8px;
            background-color:#CCC;
        }
        .label {
            display: block;
            padding: 8px;
            text-align: center;
        }
        a, a:visited, a:link, a:hover {
            text-decoration: none;
            color: black;
        }
        a:hover {
            color: $geek-primary;
            .highlight {
                background-color: $geek-primary;
            }
        }
    }
}

.hero-container {
    margin-bottom: 30px;
    
    .carousel {
        background: radial-gradient(farthest-corner at 20% 40%, lighten($geek-primary, 15%), $geek-dark-primary);
        height: 400px;
        position: relative;
        
        .controls {
            $controls-width: 50%;
            position: absolute;
            width: $controls-width;
            left: $controls-width;
            margin-left: -$controls-width/2;
            text-align: center;
            top: 12px;
            
            .item {
                display: inline-block;
                margin: 0 2px;
                height: 12px;
                width: 12px;
                cursor: pointer;
                content: " ";
                
                .control {
                    background-color: lighten($geek-primary, 30%);
                    border-radius: 5px;
                    height: 10px;
                    width: 10px;
                    content: " ";
                }
                
                &:hover .control, &.active .control {
                    background-color: lighten($geek-primary, 45%);
                }
            }
        }
        .arrow {
            font-family: monospace;
            font-size: 60px;
            width: 36px;
            color: lighten($geek-primary, 30%);
            &:hover {
                color: lighten($geek-primary, 45%);
                cursor: pointer;
            }
            
            position: absolute;
            top: 0;
            bottom: 0;
            
            &:before {
                position: absolute;
                top: 50%;
                display: inline-block;
                margin-top: -36px;
            }
        
            &.left {
                &:before {
                    content: '\2039';
                }
            }
            &.right {
                right: 0;
                left: auto;
                &:before {
                    content: '\203a';
                }
            }
        }
        .content {
            
            width: 100%;
        }
    }
}

.list-container {
    background: url(https://cf.geekdo-images.com/images/pic355125_lg.jpg) center 45%;
    background-size: cover;
    padding: 20px 0;
    
    a, a:visited, a:active {
        color: $geek-primary;
        text-decoration: none;
    }
    a:hover {
        color: $geek-dark-primary;
    }
    
    
    .columns {
        display: table;
    }
    
    .column-container {
        display: table-cell;
        vertical-align: top;
        width: 33%;
        padding-left: 3%;
        &:first-child {
            padding-left: 0%;
        }
    }
    
    .column {
        
        > .title {
            display: inline-block;
            background-color: black;
            color: white;
            opacity: 0.8;
            margin-bottom: 12px;
            padding: 8px 14px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        
        .content {
            background-color: white;
            padding: 12px;
            box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.6);
            
            .subtitle {
                display: table;
                width: 100%;
                padding-bottom: 8px;
                margin-bottom: 8px;
                border-bottom: 1px solid #bbb;
                & > .subitem {
                    display: table-cell;
                    text-align: center;
                    &.active {
                        font-weight: bold;
                    }
                }
            }
            
            .item {
                padding-top: 8px;
                margin-top: 8px;
                border-top: 1px solid #bbb;
                &:first-child {
                    padding-top: 0;
                    margin-top: 0;
                    border-top: 0px;
                }
            }
            .sub-text {
                font-size: 12px;
            }
            
            .list-content {
                -webkit-column-count: 2;
                column-count: 2;
                list-style: disc;
                list-style-position: inside;
                font-size: 12px;
            }
        }
    }
}
.hotness-container {
    margin: 30px 0;
    
    .button-row {
        text-align: center;
        
        a.button {
            display: inline-block;
            padding: 6px 12px;
            background-color: $geek-primary;
            text-transform: uppercase;
            &, &:active, &:hover, &:visited {
                color: white;
                text-decoration: none;
                
            }
        }
    }
    .game-carousel-row {
        padding: 30px 0;
        .border {
            margin: 0 auto;
            height: 35px;
            width: 59%;
            
            @mixin border-gradient($x, $y) {
                background: radial-gradient(59% 40px ellipse at $x $y, #bbb, white);
            }
            
            &.top {
                @include border-gradient(center, top);
            }
            &.bottom {
                @include border-gradient(center, bottom);
            }
        }
        
        .game-carousel {
            padding: 60px 0;
            .item {
                display: inline-block;
                
                opacity: 0.6;
                
                width: 18%;
                text-align: center;
                vertical-align: middle;
                
                .game-image {
                    width: 60%;
                    cursor: pointer;
                }
                
                &:nth-child(odd) {
                    opacity: 0.4;
                    margin-top: -7%;
                }
                
                &:nth-child(3) {
                    opacity: 1;
                    margin-top: 0;
                    width: 28%;
                    .game-image {
                        width: 65%;
                        cursor: default;
                    }
                }
            }
        }
        .active-game {
            text-align: center;
            max-width: 520px;
            margin: 0 auto;
            
            .row {
                margin-top: 20px;
            }
            .name {
                font-size: 16px;
                font-weight: bold;
            }
            .description {
                line-height: 1.5em;
                color: #666;
            }
            
            .stats {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
            
            .stat {
                display: inline-block;
                width: 33%;
                .value {
                    font-size: 16px;
                    color: $geek-primary;
                    font-weight: bold;
                }
                .label {
                    color: #666;
                    margin-top: 4px;
                }
            }
        }
    }
}

footer {
    background-color: #CCC;
    color: white;
    
    .column {
        display: inline-block;
        padding: 20px 2% 20px 0;
        vertical-align: top;
    }
    
    a, a:hover, a:visited, a:active {
        color: white;
        text-decoration: none;
    }
    
    .about {
        width: 36%;
        
        .content {
            width: 70%;
            font-size: 12px;
        }
    }
    
    .nav {
        width: 38%;
        
        ul {
            -webkit-column-count: 2;
            column-count: 2;
            width: 70%;
            margin-left: 0;
            
            li {
                margin-bottom: 6px;
            }
        }
    }
    
    .contact {
        width: 16%;
        
        .number {
            margin-bottom: 10px;
        }
    }
    
    .title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 14px;
    }
    
    .copyright {
        background-color: #999;
        color: #CCC;
        padding: 6px;
        font-size: 12px;
        
        p {
            margin: 0;
        }
    }
}