@import 'bgg-properties';
@import 'bgg-common';

header {
    $header-color: #CCC;
    .top-nav {
        background-color: $header-color;
        .clear-login {
            @extend %clearfix;
            width: 100%;
        }
    }
    .brand {
        display: inline-block;
        font-family: sans-serif;
        padding: 40px 0;
        margin-right: 30px;
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 1px;
        
        .geek {
            color: white;
            padding: 3px;
            background-color: $geek-primary;
        }
    }
    .search-form {
        display: inline-block;
        margin-left: 15%;
    }
    .login-form {
        display: inline-block;
        float: right;
        input {
            font-size: 12px;
        }
        button {
            min-width: 60px;
        }
        .top-anchor {
            background-color: #6E6E70;
            padding: 16px 10px 12px;
            border-bottom-right-radius: 18px;
            border-bottom-left-radius: 18px;
            box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.6);
        }
    }
    nav {
        background-color: white;
        padding-bottom: 20px;
        
        ul {
            margin: 0;
            padding: 0;
            width: 80%;
            margin: 0 auto;
        }
        li {
            display: inline-block;
            width: percentage(1/7);
        }
        .highlight {
            display: block;
            height: 8px;
            margin-top: -8px;
            background-color:#CCC;
        }
        .label {
            display: block;
            padding: 8px;
            text-align: center;
        }
        a, a:visited, a:link, a:hover {
            text-decoration: none;
            color: black;
        }
        a:hover {
            color: $geek-primary;
            .highlight {
                background-color: $geek-primary;
            }
        }
    }
}
