@import 'properties';

footer {
    background-color: #CCC;
    color: white;
    
    $media-semi-small: 600px;
    
    .column {
        display: inline-block;
        padding: 20px 8% 20px 0;
        vertical-align: top;
        box-sizing: border-box;
    }
    
    a, a:hover, a:visited, a:active {
        color: white;
        text-decoration: none;
    }
    
    .about {
        width: 100%;
        @media (min-width: $media-semi-small) {
            width: 40%;
        }
        
        .content {
            font-size: 12px;
        }
    }
    
    .nav {
        width: 50%;
        @media (min-width: $media-semi-small) {
            width: 38%;
        }
        
        
        ul {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
            @media (min-width: 700px) {
                width: 70%;
            }
            margin-left: 0;
            
            li {
                margin-bottom: 6px;
            }
        }
    }
    
    .contact {
        width: 50%;
        @media (min-width: $media-semi-small) {
            width: 22%;
        }
        
        .number {
            margin-bottom: 10px;
            white-space: nowrap;
        }
    }
    
    .title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 14px;
    }
    
    .copyright {
        background-color: #999;
        color: #CCC;
        padding: 6px;
        font-size: 12px;
        
        p {
            margin: 0;
        }
    }
}