@import 'properties';

header {
    $header-color: #CCC;
    $media-medium: 950px;
    $media-small: 700px;
    
    $component-top-space: 18px;
    $component-bottom-space: 12px;
    
    .top-nav {
        background-color: $header-color;
        min-height: 75px;
        @media (min-width: $media-medium) {
            min-height: 105px;
        }
    }
    .columns-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-right: 4%;
        padding-left: 2%;
        padding-top: $component-top-space;
    }
    .brand {
        display: inline-block;
        font-family: sans-serif;
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 1px;
        margin-bottom: $component-bottom-space;
        margin-right: 18px;
        
        .geek {
            color: white;
            padding: 3px;
            background-color: $geek-primary;
        }
    }
    .search-form {
        display: inline-block;
        margin-bottom: $component-bottom-space;
        white-space: nowrap;
        margin-right: 18px;
    }
    .login-form {
        
        display: inline-block;
        
        @media (max-width: $media-small - 1) {
            display: none;
        }
        
        align-self: flex-start;
        margin-top: -$component-top-space;
        margin-right: 2%;
        
        .top-anchor {
            background-color: #6E6E70;
            padding: 16px 10px 12px;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.6);
            
        }
        
        input {
            font-size: 12px;
        }
        button {
            min-width: 60px;
        }
        .row {
            white-space: nowrap;
        }
        
        @media (max-width: $media-medium - 1) {
            .large {
                display: none;
            }
        }
        
        @media (min-width: $media-medium) {
            .mini {
                display: none;
            }
        }
    }
    nav {
        background-color: white;
        padding-bottom: 20px;
        position: relative;
        
        $media-dropdown: 600px;
        
        .dropdown > .label {
            display: none;
        }
        
        @media (max-width: $media-dropdown - 1) {
            
            @mixin hamburger($primary-color) {
                background: linear-gradient(
                    to bottom, 
                    $primary-color, $primary-color 20%, 
                    white 20%, white 40%, 
                    $primary-color 40%, $primary-color 60%, 
                    white 60%, white 80%, 
                    $primary-color 80%, $primary-color 100%
                );
            }
            
            .dropdown {
                display: inline-block;
                > .label {
                    display: block;
                    margin-left: 20px;
                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        width: 1em;
                        height: 15px;
                        margin-left: 8px;
                        @include hamburger(black);
                    }
                }
                &:hover {
                    
                    > .label {
                        color: $geek-primary;
                        cursor: pointer;
                        &:before {
                            @include hamburger($geek-primary);
                        }
                    }
                    
                    > ul {
                        display: block;
                        min-width: 100px;
                        margin-left: 1px;
                        a {
                            display: block;
                        }
                    }
                }
            }
        }
        
        ul {
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 0 auto;
            // got some magic numbers I need to deal with
            @media (min-width: 0px) and (max-width: $media-dropdown - 1) {
                position: absolute;
                display: none;
                z-index: 10;
                background-color: white;
                box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.6);
            }
            @media (min-width: $media-dropdown) and (max-width: 800px - 1) {
                width: 90%;
            }
            @media (min-width: 800px) {
                width: 80%;
            }
        }
        li {
            display: inline-block;
            width: percentage(1/7);
            @media (max-width: $media-dropdown - 1) {
                display: block;
                width: auto;
            }
        }
        .highlight {
            $height: 8px;
            display: block;
            height: $height;
            margin-top: -$height;
            background-color: #CCC;
            @media (max-width: $media-dropdown - 1) {
                margin-top: 0;
                height: auto;
                display: inline-block;
                background-color: transparent;
            }
        }
        .label {
            display: block;
            @media (max-width: $media-dropdown - 1) {
                display: inline-block;
            }
            font-size: 16px;
            padding: 8px;
            text-align: center;
        }
        a, a:visited, a:link, a:hover {
            text-decoration: none;
            color: black;
        }
        a:hover {
            color: $geek-primary;
            .highlight {
                background-color: $geek-primary;
            }
        }
    }
}
