@import 'properties';

header {
    $header-color: #CCC;
    $media-medium: 800px;
    
    .top-nav {
        background-color: $header-color;
        min-height: 75px;
        @media (min-width: $media-medium) {
            min-height: 105px;
        }
        .columns-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 4%;
            padding-left: 2%;
        }
    }
    .brand {
        display: inline-block;
        font-family: sans-serif;
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 1px;
        margin-top: 18px;
        
        .geek {
            color: white;
            padding: 3px;
            background-color: $geek-primary;
        }
    }
    .search-form {
        display: inline-block;
        margin-top: 18px;
        white-space: nowrap;
    }
    .login-form {
        display: none;
        @media (min-width: $media-medium) {
            display: inline-block;
            align-self: flex-start;
            input {
                font-size: 12px;
            }
            button {
                min-width: 60px;
            }
            .top-anchor {
                background-color: #6E6E70;
                padding: 16px 10px 12px;
                border-bottom-right-radius: 8px;
                border-bottom-left-radius: 8px;
                box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.6);
            }
            .row {
                white-space: nowrap;
            }
        }
    }
    nav {
        background-color: white;
        padding-bottom: 20px;
        
        ul {
            margin: 0;
            padding: 0;
            width: 80%;
            margin: 0 auto;
        }
        li {
            display: inline-block;
            width: percentage(1/7);
        }
        .highlight {
            display: block;
            height: 8px;
            margin-top: -8px;
            background-color:#CCC;
        }
        .label {
            display: block;
            font-size: 16px;
            padding: 8px;
            text-align: center;
        }
        a, a:visited, a:link, a:hover {
            text-decoration: none;
            color: black;
        }
        a:hover {
            color: $geek-primary;
            .highlight {
                background-color: $geek-primary;
            }
        }
    }
}
