@import 'properties';

.hotness-container {
    margin: 30px 0;
    
    $media-medium: 700px;
    
    .button-row {
        text-align: center;
        
        a.button {
            display: inline-block;
            padding: 6px 12px;
            background-color: $geek-primary;
            text-transform: uppercase;
            &, &:active, &:hover, &:visited {
                color: white;
                text-decoration: none;
                
            }
        }
    }
    .game-carousel-row {
        padding: 30px 0;
        .border {
            margin: 0 auto;
            height: 35px;
            
            width: 59%;
            @media (max-width: $media-medium - 1) {
                width: 85%;
            }
            
            @mixin border-gradient($x, $y) {
                background: radial-gradient(59% 40px ellipse at $x $y, #bbb, white);
            }
            
            &.top {
                @include border-gradient(center, top);
            }
            &.bottom {
                @include border-gradient(center, bottom);
            }
        }
        
        .game-carousel {
            padding: 60px 0;
            text-align: center;
            .item {
                display: inline-block;
                
                opacity: 0.6;
                
                width: 18%;
                text-align: center;
                vertical-align: middle;
                
                .game-image {
                    width: 60%;
                    cursor: pointer;
                }
                
                &:nth-child(odd) {
                    opacity: 0.35;
                    margin-top: -7%;
                    .game-image {
                        width: 50%;
                    }
                }
                
                &:nth-child(3) {
                    opacity: 1;
                    margin-top: 0;
                    width: 28%;
                    .game-image {
                        width: 65%;
                        cursor: default;
                    }
                }
                
                @media (max-width: $media-medium - 1) {
                    
                    &:first-child, &:last-child {
                        display: none;
                    }
                    &:nth-child(3) {
                        width: 32%;
                    
                        .game-image {
                            width: 80%;
                        }
                    }
                    &:nth-child(even) {
                        width: 28%;
                    
                        .game-image {
                            width: 70%;
                        }
                    }
                }
            }
        }
        .active-game {
            text-align: center;
            max-width: 520px;
            margin: 0 auto;
            
            .row {
                margin-top: 20px;
            }
            .name {
                font-size: 18px;
                font-weight: bold;
            }
            .description {
                line-height: 1.5em;
                color: #666;
            }
            
            .stats {
                display: flex;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
            
            .stat {
                display: inline-block;
                width: 33%;
                .value {
                    font-size: 16px;
                    color: $geek-primary;
                    font-weight: bold;
                }
                .label {
                    color: #666;
                    margin-top: 4px;
                }
            }
        }
    }
}