@import 'reset';

$pageWidth: 980px;

body {
    padding-bottom: 8px;
}

.root-container {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.7);
    font-size: 14px;
}

.page-container {
    max-width: $pageWidth;
    padding: 0 20px;
    margin: 0 auto;
}

@import 'header';
@import 'footer';